<section id="services" class="section">
<div class="container">
	<div class="row">
		<!--Start heading-->
		<div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms" >
			<div class="section-header">
				<h2>what we do</h2>
				<hr style="border-top: 1px solid rgba(224, 178, 152, 0.7)">
			</div>
		</div>
		<!--End heading-->
		<div> 
			<!--Services Item #1 -->
			<div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
				<div class="services-box">
					<div class="services-desc">
						<p style="text-align: justify;">Take the fuss out of applying daily make up with Chironda’s technical expertise in applying natural looking Permanent Make Up that diminishes over time. Creating lasting impressions, designed and artistically crafted to suit individual needs, our service is all about being bespoke.
						</p>
					</div>
				</div>
			</div>
			<!--   Services Item #2-->
			<div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
				<div class="services-box">
					<div class="services-desc">
						<p style="text-align: justify;">The clinic is run by Chantelle, an experienced make up artist with a passion to make a real difference in people’s lives and add beauty that looks natural for greater confidence. Chantelle has been trained to the highest standards by the best in the industry, both from the UK and overseas. 
						</p>
					</div>
				</div>
			</div>
			<!-- Services Item #3 -->
			<div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
				<div class="services-box">
					<div class="services-desc">
						<p style="text-align: justify;">Each client’s features are different and in the same way each treatment is unique and tailored to each of our clients’ needs. We value and invest time with our clients with a detailed one on one consultation where together we discover the look you want to achieve.
						</p>
					</div>
				</div>
			</div>
		</div> <!--/.row-->
</div> <!--/.container-->
</section> 