<script>
 function filterContent(content) {
	 if (content == 'homeslider') {
		 console.log(content);
		 $('#homeslider').prepend("test");
	 }
 }
</script><div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-offset-2 col-md-8">
							<div class="section-header">
								<h2 class="smt"><a data-toggle="collapse" href="#collapse" id="title">Background pictures | Content</a></h2>
								<br>
                <div><%= link_to "Edit homepage content", edit_homepicture_path(@home) %></div>
								<hr style="border-top: 1px solid rgba(224, 178, 152, 0.7)">
							</div>
						</div>
					</div>
				</div>
				<div id="collapse" class="panel-collapse collapse">
					<div class="page-section">
					<div class=" col-md-12">
						<!-- Filtering -->
						<ul class="filtering">
							<li class="filter" data-filter="Permanent-make-up" onclick="filterContent('homeslider')">Homeslider</li>
							<li class="filter" data-filter="About">About</li>
							<li class="filter" data-filter="Testimonial">Testimonial</li>
							<li class="filter" data-filter="Pricing">Pricing</li>
							<li class="filter" data-filter="Contact">  Contact</li>
						</ul>
					</div>
					<div class="full-width">
					<ul class="work-grid">

						<!-- Work Block -->

					</ul>
				</div>
			</div>
				</div>
			</div>
		</div>
	</div>
</div>
